/* LAYOUT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

/* CLEARFIX */
.row:after {
  display: table;
  content: "";
  clear: both;
}
/* CLEARFIX */

[class^=col-] {
  float: left;
}

.col-30 {
  width: 30%;
}

.col-70 {
  width: 70%;
}

.col-33 {
  width: calc(100% / 3);
}

/* LAYOUT */

/* HEADER */

nav {
  height: 90px;
  line-height: 90px;
}

nav div.bg-grey {
  background-color: #F4F9FD;

  border-bottom: 1px solid #000;
}

nav ul  {
  display: inline;
  list-style: none;
}

nav ul li {
  display: inline;

}

nav ul li a, a {
  text-decoration: none;

}

.nav-right {
  float: right;
}

img {
  vertical-align: middle;
}

.bg-jumbo {
  background: url("../img/jumbotron.png") no-repeat center;
  background-size: 100% 100%;
  height: 1000px;

}

.jumbo-text {
  width: 40%;
}

h1 {
  font-size: 45px;
  padding-top: 100px;

}

.line {
  background-color: #AFEBE4;
  height: 120px;
  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;
  margin-top: -119px;
}


/* HEADER */

/* MAIN */

section.Introduction img {
  display: block;
  width: 30%;
  margin: 0 auto;
  padding-top: 100px;
}

section.Introduction p {
  text-align: center;
  padding: 0 210px;
  line-height: 30px;
}

h2 {
  font-size: 40px;
  padding-bottom: 50px;
  text-align: center;
}




/* MAIN */

/* UTILITY */
/* COLOR */
.M-color {
  color: #33475b;
}

.btn-color-white {
  color: #fff;
}

.btn-color-orange {
  color: #ff7a59;
}
.btn-bg-white {
  background-color: #fff;
}

.btn-bg-orange {
  background-color: #ff7a59;
}

.Introduction {
  background-color: #f5f8fa;
}

/* COLOR */

/* MARGIN */

.mlr-1 {
  margin: 0 20px;
}

/* MARGIN */


/* PADDING */
.pl-1 {
  padding-left: 20px;
}

.pr-1 {
  padding-right: 20px;
}

.p-1 {
  padding: 9px;
}

.p-2 {
  padding: 20px 30px;
}

.p-3 {
  padding: 70px 0;

}

ul.nav-right li a {
  padding-left: 15px;
}
/* PADDING */

/* BORDER */
.br-1 {
  border-right: 1px solid #000;
}
/* BORDER */

/* ICONS */
.fa-search {
  color: #00a4bd;
}

/* ICONS */

/* BUTTON */
.btn {
  border: 1px solid #ff7a59;
  border-radius: 5px;

}

/* BUTTON */

.select:after {
  content: "\25bc";
  padding-left: 15px;
}

/* FONT */

.F-1 {
  font-size: 20px;
}

.F-2 {
  font-size: 13px;
}
/* FONT */
