/* LAYOUT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.d-inline-block {
  display: inline-block;
}

.v-middle {
  vertical-align: middle;
}

.w-65 {
  width: 65%;
}

.w-27 {
  width: 27%;
}

.w-30 {
  width: 30%;
}

.w-37 {
  width: 37%;
}

.w-80 {
  width: 80%;
}


/* CLEARFIX */
.row:after {
  display: table;
  content: "";
  clear: both;
}
/* CLEARFIX */

[class^=col-] {
  float: left;
}

.col-25 {
  width: 25%;
}


.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;

}


.card {
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0 4px #888888;
  height: 780px;
}

img {
  display: block;
}

/* LAYOUT */

/* HEADER */

nav {
  height: 90px;
  line-height: 90px;
}

nav div.bg-grey {
  background-color: #F4F9FD;

  border-bottom: 1px solid #000;
}

nav ul  {
  display: inline;
  list-style: none;
}

nav ul li {
  display: inline;

}

nav ul li a, a {
  text-decoration: none;

}

nav.fixed {
  position: fixed;
  z-index: 1000;
  width: 100%;

}

nav.not-fixed {
  padding-top: 90px;
  background-color: #fff;
}

#logo {
  display: inline-block;
}

.nav-right {
  float: right;
}

nav.not-fixed img {
  vertical-align: middle;
}

.bg-jumbo {
  background: url("../img/jumbotron.png") no-repeat center;
  background-size: 100% 100%;
  height: 1000px;
  margin-top: 90px;
}

.jumbo-text {
  width: 40%;
}

h1 {
  font-size: 45px;
  padding-top: 100px;

}

.line {
  background-color: #AFEBE4;
  height: 120px;
  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;
  margin-top: -119px;
}


/* HEADER */

/* MAIN */
/* SECTION ONE */
.introduction {
  height: 1900px;
}

.cube {
  width: 30%;
  padding-top: 100px;
}

.par-1 {
  padding: 0 210px;
}

h2 {
  font-size: 40px;

}

section.introduction .row {
  margin-top: 40px;
  height: 400px;
}

.book {
  width: 50%;
  padding-top: 60px;
  padding-bottom: 60px;
  vertical-align: middle;
}

.btn-learn {
 width: 50%;
 margin-left: 120px;
}

h3 {
  font-size:30px;

}

h4 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 30px 0;
}


ul.list-horizontal li {
  text-decoration: none;
  display: inline;
  padding-right: 30px;
}

li.check:before {
  content: "\2713";
  font-size: 10px;
  color: #fff;
  border: 1px solid #ff7a59;
  background-color: #ff7a59;
  border-radius: 50%;
  padding: 0 2px;
  margin-right: 20px;
}

div.card-box {
  text-align: center;
}

div.card-box h3 + p {
  padding: 0 40px 100px;
}

ul.list-vertical  {
  list-style: none;
  text-align: left;
  padding-left: 40px;
  padding-bottom: 80px;
}
/* SECTION ONE */
/* SECTION TWO */

section.support h2 {
  color: #fff;
}

.plus:after {
  content: "\002B";
  font-size: 30px;
  padding-left: 10px;
}

div.col-25 img {
  margin: 0 auto;
  padding: 20px 0;
}

div.center p {
  color: #fff;
  font-size: 10px;
  padding-top: 20px;
}





/* SECTION TWO */
/* SECTION THREE */

.img-box {
  padding-left: 180px;
}



.img-box img {
  display: inline-block;
  width: 23%;
  vertical-align: middle;
  padding-left: 30px;
}

div.col-60 img.profile-image {
  width: 45%;
  float: right;
}

/* SECTION THREE */



/* MAIN */

/* UTILITY */
/* COLOR */

.color-white {
  color: #fff;
}

.color-orange {
  color: #ff7a59;
}

.bg-white {
  background-color: #fff;
}

.bg-orange {
  background-color: #ff7a59;
}

.bg-intro {
  background-color: #f5f8fa;
}

.bg-support {
  background:linear-gradient(45deg,#00a4bd,#00bda5);
}
/* COLOR */

/* MARGIN */

.mlr-1 {
  margin: 0 20px;
}

.m-0 {
  margin: 0 auto;
}

.ml-1 {
  margin-left: 5%;
}
/* MARGIN */


/* PADDING */
.pl-1 {
  padding-left: 20px;
}

.pl-2 {
  padding-left: 100px;
}

.pr-1 {
  padding-right: 20px;
}

.pr-2 {
  padding-right: 60px;
}

.pr-3 {
  padding-right: 175px;
}

.p-1 {
  padding: 9px;
}

.p-2 {
  padding: 20px 30px;
}

.p-3 {
  padding: 70px 0;

}

.pt-1 {
  padding-top: 20px;
}

.pt-2 {
  padding-top: 50px;
}

.pt-3 {
  padding-top: 70px;
}

.pt-4 {
  padding-top: 60px;
}

.pb-1 {
  padding-bottom: 50px;
}

.pb-2 {
  padding-bottom: 30px;
}

.pb-3 {
  padding-bottom: 100px;
}

ul.nav-right li a {
  padding-left: 15px;
}


/* PADDING */

/* BORDER */
.br-1 {
  border-right: 1px solid #000;
}

.brt-1 {
  border-top: 1px solid #000;
}

.brb-1 {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.br-2 {
  border-right: 1px solid #fff;
}
/* BORDER */

/* ICONS */
.fa-search {
  color: #00a4bd;
}

/* ICONS */

/* BUTTON */
.btn {
  border: 1px solid #ff7a59;
  border-radius: 5px;

}

/* BUTTON */

.select:after {
  content: "\25bc";
  padding-left: 15px;
}

/* FONT */

.f-1 {
  font-size: 20px;
}

.f-2 {
  font-size: 13px;
}

.f-3 {
  font-size: 10px;
}
/* FONT */

/* TEXT PROPERTIES */

.center {
  text-align: center;
}

.lh-1 {
  line-height: 30px;
}
/* TEXT PROPERTIES */
